# Proposta: Projeto Final


### Escolher uma fonte de dados
- API
- Arquivo  âœ…

### Objetivos:

1. Trabalhar na qualidade dos dados
   - Utilizar `ydata_profiling` para gerar relatÃ³rios de perfil dos dados. âœ…
2. Implementar as expectativas com a biblioteca Great Expectations.
3. Utilizar DBT para a transformaÃ§Ã£o dos dados.
4. Criar camadas de dados - Gravando no Postgres - Bronze, Silver e Gold.
5. Trabalhar na limpeza dos dados.

In [119]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.exc import OperationalError
from ydata_profiling import ProfileReport
import great_expectations as ge

In [120]:
db_url = 'postgresql://postgres:123@localhost:5432/airbnb_listings'

# Criar uma engine de conexÃ£o.
engine = create_engine(db_url)

# Testar a conexÃ£o com o banco de dados
try:
    connection = engine.connect()
    print("ConexÃ£o bem-sucedida! \n")
except OperationalError as e:
    print("Erro ao conectar ao banco de dados, verifique os parÃ¢metros.", e)

ConexÃ£o bem-sucedida!

In [ ]:
#Deve habilitar esta cÃ©lula para que ler o arquivo local! Na minha mÃ¡quina configurei via Postgres. Mas para testar o projeto sem configurar o dbt, pode usar direto pelo .csv na raiz
#df = pd.read_csv('listings.csv') 
#profile = ProfileReport(df, title="Pandas Profiling Report")
#profile.to_file("resultados-1.html")

#Executar a consulta SQL para criar o DataFrame a partir do banco configurado com o Seeds do Data Build Tools. Assim como orientado no escopo do projeto.
##consulta_sql = "SELECT * FROM airbnb_listings;"

#df = pd.read_sql_query(consulta_sql, engine)

In [121]:
df = pd.read_sql_table(table_name="airbnb_listings", con=engine)
context = ge.data_context.DataContext()
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,216461,Rental unit in Rio de Janeiro Â· 1 bedroom Â· 1 ...,1154263,"Zeilma , Da",None,Flamengo,-22.93990,-43.17676,Private room,734.0,1,0,NaT,NaN,1,365,0,None
1,328626,Rental unit in Rio de Janeiro Â· 2 bedrooms Â· 5...,1675497,Priscila,None,Santa Teresa,-22.92286,-43.18790,Entire home/apt,1250.0,20,1,2012-02-21,0.01,1,365,0,None
2,220705,Rental unit in Rio de Janeiro Â· 1 bedroom Â· 2 ...,1144461,Rachel,None,Copacabana,-22.98246,-43.19376,Private room,300.0,3,0,NaT,NaN,2,0,0,None
3,329615,Home in Rio de Janeiro Â· 1 bedroom Â· 1 bed Â· 1...,1416853,Maria,None,Jardim BotÃ¢nico,-22.96547,-43.23666,Private room,972.0,1,0,NaT,NaN,1,0,0,None
4,337345,Rental unit in Rio de Janeiro Â· 1 bedroom Â· 2 ...,1714680,Katiuscia,None,Barra da Tijuca,-23.01147,-43.36394,Private room,2411.0,1,0,NaT,NaN,1,365,0,None

In [4]:
profile = ProfileReport(df, title="Airbnb Profiling Report")
profile.to_file("AnaliseInicial.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

# Alerts gerados pelo ProfileReport para serem tratados em camadas - Roteiro:

- âŒ **neighbourhood_group** possui 36,008 (100.0%) valores faltantes - Faltantes
    `Null`
- âŒ **license** Ã© um tipo nÃ£o suportado, verifique se precisa de limpeza ou anÃ¡lise adicional - NÃ£o suportado
    `Null`
### ðŸ¥‰ Camada Bronze apÃ³s as tratativas acima, dropando as colunas com DBT e verificando com Great Expectations.
-ðŸ”Ž **minimum_nights** estÃ¡ altamente inclinada (Î³1 = 28.22092657) - Inclinada  
    `Remover outliers extremos pela mÃ©dia de noites mÃ¡ximas.`
    
-ðŸ”Ž**price** possui 1,771 (4.9%) valores faltantes - Faltantes  
`Preencher os nÃºmeros extremos pela mÃ©dia de preÃ§o para cada bairro`
### ðŸ¥ˆ Camada Silver apÃ³s as tratativas acima, e verificaÃ§Ã£o com Great Expectations.
- Traduzir as colunas para PortuguÃªs - Brasil
### ðŸ… Camada Gold pronta para anÃ¡lises finais.

______________________

#### < INICIANDO CAMADA BRONZE COM TRATATIVAS DO DBT | Verificar tabelabronze.sql > ###

In [122]:
df_bronze = pd.read_sql_table(table_name="tabelabronze", con=engine)
df_bronze = ge.from_pandas(df_bronze)
df_bronze.head()

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
0,216461,Rental unit in Rio de Janeiro Â· 1 bedroom Â· 1 ...,1154263,"Zeilma , Da",Flamengo,-22.93990,-43.17676,Private room,734.0,1,0,NaT,NaN,1,365,0
1,328626,Rental unit in Rio de Janeiro Â· 2 bedrooms Â· 5...,1675497,Priscila,Santa Teresa,-22.92286,-43.18790,Entire home/apt,1250.0,20,1,2012-02-21,0.01,1,365,0
2,220705,Rental unit in Rio de Janeiro Â· 1 bedroom Â· 2 ...,1144461,Rachel,Copacabana,-22.98246,-43.19376,Private room,300.0,3,0,NaT,NaN,2,0,0
3,329615,Home in Rio de Janeiro Â· 1 bedroom Â· 1 bed Â· 1...,1416853,Maria,Jardim BotÃ¢nico,-22.96547,-43.23666,Private room,972.0,1,0,NaT,NaN,1,0,0
4,337345,Rental unit in Rio de Janeiro Â· 1 bedroom Â· 2 ...,1714680,Katiuscia,Barra da Tijuca,-23.01147,-43.36394,Private room,2411.0,1,0,NaT,NaN,1,365,0

In [103]:
colunas = [
    "id",
    "name",
    "host_id",
    "host_name",
    "neighbourhood",
    "latitude",
    "longitude",
    "room_type",
    "price",
    "minimum_nights",
    "number_of_reviews",
    "last_review",
    "reviews_per_month",
    "calculated_host_listings_count",
    "availability_365",
    "number_of_reviews_ltm",
    #"license"
]

df_bronze.expect_table_columns_to_match_ordered_list(colunas)
#df_bronze.expect_column_to_exist("license")
#df_bronze.expect_column_to_exist("latitude")

{
  "success": true,
  "result": {
    "observed_value": [
      "id",
      "name",
      "host_id",
      "host_name",
      "neighbourhood",
      "latitude",
      "longitude",
      "room_type",
      "price",
      "minimum_nights",
      "number_of_reviews",
      "last_review",
      "reviews_per_month",
      "calculated_host_listings_count",
      "availability_365",
      "number_of_reviews_ltm"
    ]
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [ ]:
df_bronze.get_expectation_suite()

{
  "expectation_suite_name": "default",
  "ge_cloud_id": null,
  "expectations": [
    {
      "expectation_type": "expect_table_columns_to_match_ordered_list",
      "kwargs": {
        "column_list": [
          "id",
          "name",
          "host_id",
          "host_name",
          "neighbourhood",
          "latitude",
          "longitude",
          "room_type",
          "price",
          "minimum_nights",
          "number_of_reviews",
          "last_review",
          "reviews_per_month",
          "calculated_host_listings_count",
          "availability_365",
          "number_of_reviews_ltm"
        ]
      },
      "meta": {}
    }
  ],
  "data_asset_type": "Dataset",
  "meta": {
    "great_expectations_version": "0.18.12"
  }
}

In [127]:
df_bronze['price'].describe()

count     34237.000000
mean       1211.719572
std        5790.937363
min           0.000000
25%         361.000000
50%         660.000000
75%        1114.000000
max      552637.000000
Name: price, dtype: float64

In [126]:
df_bronze['price'].quantile(.98)

5850.0

In [130]:
df_bronze['minimum_nights'].describe()

count    36008.000000
mean         4.419351
std         22.738877
min          1.000000
25%          1.000000
50%          2.000000
75%          3.000000
max       1125.000000
Name: minimum_nights, dtype: float64

In [ ]:
df_bronze['minimum_nights'].quantile(.98)

20.0

#### < INICIANDO CAMADA SILVER COM TRATATIVAS DO DBT | Verificar tabelasilver.sql > ###